[submodule "deepseek-harness"]
	path = deepseek-harness
	url = https://github.com/krzako/deepseek-harness-no-telemetry
[submodule "dsh-git"]
	path = dockers/dsh-git
	url = https://github.com/krzako/dsh-git
