# Copy is created automatically by ./setup.sh.
# You normally do not need to edit these values.

BRIDGE_CONTAINER=dsh-git
BRIDGE_IMAGE=dsh-git:local
BRIDGE_PORT=9418
BRIDGE_NETWORK=dsh_git

REPOS_VOLUME_PATH=../volumes/dsh-git-repos
